<!DOCTYPE html>
<html>
<head>
  <title>Virtual House Party - When you want to party but can't go out</title>
  <%- include('./_header.html') %>
</head>
<body>
  <div id="container">
    <div id="form">
      <h1>
        <img src="<%= baseUrl + '/res/virtual_house_party.png' %>" width="100%" alt="Peer Calls">
      </h1>
      <p>Welcome to the (virtual) party! Make yourself at home, and feel free to move around! Where would you like to start?</p>
    </div>
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
      <input type="hidden" name="call" value="living_room" />
      <input type="submit" value="Living Room" />
    </form>
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
      <input type="hidden" name="call" value="kitchen" />
      <input type="submit" value="Kitchen" />
    </form>
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
      <input type="hidden" name="call" value="back_yard" />
      <input type="submit" value="Back Yard" />
    </form>
  </div>

  <footer>
    <div>v<%= version %></div>
  </footer>
</body>
