$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Ubuntu Mono", monospace;

$color-bg: #142657;
$color-fg: #0e6fa0;
$color-btn: #FFF1D0;
$color-menu: #ccc;
$color-text: #333;
$icon-size: 48px;

$color-primary: white;
$color-info: #6ba8d9;
$color-warning: #EF60E0;
$color-error: #fd48ac;
